@charset "UTF-8";
/* 공통 */
#container {
    /*height: 1660px;*/
    width: 1300px;
    overflow: hidden;
}


/* Main Page */
#main_container {
    width: 1300px;
    height: auto;
}

/**메인**/
#utill {
    margin: 20px auto 0;
    width: 1300px;
    height: 430px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #8e9c90;
}

#main_hotK {
    matgin-top: 50px;
    margin-left: 20px;
    display: inline-block;
    width: 300px;
}

#main_best5 {
    margin-left: 30px;
    display: inline-block;
}

#main_newestbox {
    background-color: white;
    border-radius: 10px;
    width: 1300px;
    display: block;
    margin: 20px auto;
    padding: 30px;
    border: 2px solid #8e9c90;
}


/**헤더**/
#header_container {
    /*border: 1pt solid;*/
    background-color: #8FBC8F;
}

#main_header_top {
    margin-top: 30px;
    border-color: #8e9c90;

}

#main_searchbox {
    margin-top: 30px;
    text-align: center;
    display: inline-block;
}

#main_memobox {
    float: right;
    text-align: right;
    border: 2pt solid;
    border-color: #8e9c90;
    border-radius: 30px;
    background-color: white;
}

#main_header_bottom {
    border: 1pt solid #8e9c90;
    width: auto;
}

#main_navbox {
    width: 500px;
    display: inline-block;
    height: 50px;
    margin-top: 9px;

}

#main_loginbox {
    text-align: center;
    display: inline-block;
    width: 300px;
    float: right;
    margin-top: 10px;
}

#main_profile_photo {
    float: left;
    border-radius: 70%;
    overflow: hidden;
}

#main_profile_info {
    margin-top: 10px;
    text-align: center;
}


/**마이페이지**/
#myList_container {
    height: 200px;
    width: 1300px;
    margin-top: 100px;

}

#member_photo_box {
    height: 170px;
    width: 170px;
    border-radius: 30%;
    overflow: hidden;
    float: left;
}

#member_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/**푸터**/
#footer_container {
    background-color: #8FBC8F;
}

#footer_content {
    text-align: center;
    padding: 50px;
}


/**best.jsp**/
#best_container {
    width: 900px;
    background-color: white;
}

/**hotKeyword.jsp**/
#hotK_container {
    background-color: white;
    /*width: 300px;*/
    height: 300px;
}

#hotK_color {
    background-color: #e8c992 !important;
}

/**newestList.jsp**/
#new_title {
    padding: 20px;
}

#listV_buttonbox {
    text-align: right;
}

/******************************************/
/* Login */
#login_form {
    margin: 170px auto;
    width: 500px;
    height: 500px;
    text-align: center;
}

#login_title {
    margin-top: 50px;
}

#login_idbox {
    margin-top: 50px;
}

#login_button {
    margin-top: 50px;
}

/*************************************/
/* Join */
#join_container {
    height: 1500px;
    width: 1300px;
    margin: 0 auto;
}

#join_mainbox {
    width: 1000px;
    height: 1200px;
    margin: 0 auto;
    display: block;
}

#join_mainbox > div {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

#join_idbar {
    width: 320px;
}

#join_interest > div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 15px;
}

#join_buttonbox {
    margin: 0 auto;
    /*text-align: center;*/
    position: relative;
    left: 25px;
}

#join_buttonbox > button {
    margin-right: 60px;
    margin-left: 60px;
    width: 150px;
}

#join_postalbar {
    width: 340px;
}

/******리스트******************/
#list_navbox {
    margin-top: 50px;
}

/* listView */
#listV_mainbox {
    width: 1400px;
    margin-top: 50px;
}

#listV_table {
    text-align: center;
    margin-top: 50px;
}

#listV_tb_num {
    width: 50px;
}

#listV_tb_title {
    width: 820px;
}

#listV_tb_type {
    width: 100px;
}

#listV_tb_cate {
    width: 100px;
}

#listV_tb_id {
    width: 150px;
}

#listV_tb_date {
    width: 140px;
}

#listV_tb_hit {
    width: 100px;
}

#listV_buttonbox {
    margin-top: 50px;
    text-align: right;
}


/* listUpload */
#listU_mainbox {
    width: 1000px;
    height: 1200px;
    margin-top: 50px;
}

#listU_mainbox > div {
    margin: 20px;
}

#listU_titleheader {
    height: 127px;
}

#listU_format {
    display: inline;
    width: 300px;
}

#listU_format:focus {
    border: 1pt solid black;
}


#listU_category {
    display: inline;
    width: 300px;
}

#listU_titlebar {
    display: inline;
    width: 790px;
}

#listU_uploadbar {
    display: inline;
    width: 790px;
}

#listU_upload_img {
    display: block;
    margin: 10px auto;
}

#listU_buttonbox {
    float: right;
}


/* listDetail */
#listD_container {
    text-align: center;
    width: 2000px;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 55px;
}

#listD_mainbox {
    padding: 20px;
    width: 960px;
    margin-left: 20px;
    border-radius: 20px;
    border: 3px solid #8e9c90;
    background-color: white;
}

#listD_editbox {
    display: inline;
    float: right;
}


/* listD - yes no */
#listD_mainbox_y {
    width: 1000px;
    margin-left: 20px;
    border-radius: 20px;
    border: 3px solid #8e9c90;
    background-color: white;
    padding: 20px;
}

#listD_commentInbox_y {
    width: 800px;
    text-align: right;
    margin: 40px auto;
    display: block;
    border: 1pt solid slategrey;
}

#listD_commentIn_y {
    resize: none;
    outline: none;
    border: white;
    width: 791px;
    margin-top: 6px;
    margin-bottom: 10px;
}

#listD_yesno_nav {
    margin-top: 50px;
    background-color: #9BCCC0; /**수정함*/
    width:200px;
}

#listD_commentInTitle_y {
    margin: 10px;
    display: inline-block;
    float: left;
}

#listD_radiobox_y {
    display: inline-block;
    margin: 13px;
}

#listD_button_del {
    float: right;
    position: relative;
    left: 20px;
    bottom: 12px;
    border: none;
}

#listD_titlebox {
    text-align: left;
    border-bottom: 1pt solid;
    padding-bottom: 10px;
}

#listD_title {
    font-size: 20pt;
}

#listD_wdate {
    display: block;
    float: bottom;
}

#listD_profile {
    width: 200px;
    height: 60px;
    display: inline-block;
    border: 2px solid #8e9c90;
    border-radius: 10px;
    float: right;
    position: relative;
    bottom: 90px;
    background-color: #F4D0C7;


}

#listD_profile_id {
    display: inline-block;
}

#listD_contents {
    text-align: left;
}

#listD_comment_container {

}

#listD_contentsbox {
    margin-top: 14px;
}

#listD_commentbox {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#listD_commentInbox {
    width: 930px;
    text-align: right;
    margin: 30px auto 0;
}

#listD_commentIn {
    resize: none;
    outline: none;
    border: white;
    width: 930px;
    margin-top: 6px;
    margin-bottom: 10px;
}

#listD_buttonbox {
    text-align: right;
}

/**********말풍선***********/
/* 1. 말풍선 찬성 */
.balloon_yes {
    position: relative;
    background: #90ADE1;
}

.balloon_yes:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #90ADE1;
    border-width: 10px;
    margin-top: -10px;

}

.balloon_yes {
    /*position: static;*/
    margin-left: 10px;
    width: 368px;
    /*height: 118px;*/
    text-align: left;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
}

/* 2. 말풍선 반대 */
.balloon_no {
    position: relative;
    background: #E59393;
}

.balloon_no:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(240, 168, 237, 0);
    border-left-color: #E59393
;
    border-width: 9px;
    margin-top: -9px;
}

/*customize*/
.balloon_no {
    /*position: fixed;*/
    width: 368px;
    /*height: 118px;*/
    left: 430px;
    text-align: left;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
}

.balloon_id {

}

.listD_contentsbox {
    margin-top: 14px;
}

.profile_box {
    height: 45px;
    width: 50px;
    border-radius: 70%;
    overflow: hidden;
    display: inline-block;
}

.profile_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment_free {
    background-color: #8FBC8F;
    height: 175px;
    border-radius: 20px;
    border: 2px solid #8e9c90;
    padding: 10px;
}

.comment_id {
    display: inline-block;
    position: relative;
    bottom: 18px;
}

.comment {
    background-color: #f2f2df;
    border: 1pt solid slategray;
    width: 900px;
    height: 100px;
    resize: none;
    display: block;
    margin: 0 auto;

}

.comment_btnbox {
    float: right;
    margin: 5px;
    display: inline-block;
}