@charset "UTF-8";

#main_container{
    width: 1600px;
    margin: 0 auto;
    border: 1pt solid;
    text-align: center;
}

#main_util{
    width: 400px;
    height: 500px;
    display: inline-block;
    border: 1pt solid;
    padding: 10px;
    margin: 10px;
}

#main_best5{
    width: 1000px;
    height: 500px;
    display: inline-block;
    border: 1pt solid;
    padding: 10px;
    margin: 10px;
}

#header_container{
    border: 1pt solid;
    background-color: #8FBC8F;
}

#footer_container{
    height: 300px;
    border: 1pt solid;
    background-color: #8FBC8F;
}

#main_header_top{
    margin-top: 50px;
    border: 1pt solid;
}

#main_searchbox{
	margin-top:30px;
    text-align: center;
    display:inline-block;
}

#main_memobox{
    float: right;
    text-align: right;
    border: 1pt solid;
}

#main_header_bottom{
    border: 1pt solid;
    background-color: #f2f2df;
}

#main_loginbox{
    text-align: right;
}

#main_profile_photo{
	float: left;
}

#main_profile_info{
	 margin-top: 10px;
	 text-align: center;
}

#myList_container {
    height: 200px;
    width: 1300px;
    margin-top: 100px;

}

#main_profile_photo{
	 border-radius: 70%;
    overflow: hidden;
}

#member_photo_box{
	 height: 170px;
    width: 170px;
    border-radius:30%;
    overflow: hidden;
    float:left;
}

#member_photo{
    width: 100%;
    height: 100%;
	object-fit: cover;
}

/* hotkeyword */
#hotkey_container{
    height: 441px;
}


